@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::before,
  ::after {
    @apply transition-colors duration-300 ease-in-out;
  }
}

@layer utilities {
  .scroll-bar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-bar-hide::-webkit-scrollbar {
    display: none;
  }

  .animate-speed {
    animation: speeding 1.5s infinite ease-in-out;
  }

  .animate-fade-in-down {
    animation: fade-in 200ms ease-in-out forwards;
  }

  .animate-scale-in {
    animation: scaleIn 0.3s ease-out forwards;
  }

  .animate-attention {
    animation: attention 2s ease-in-out infinite;
  }

  @keyframes speeding {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    50% {
      box-shadow: -25px 0 40px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }

  @keyframes fade-in {
    0% {
      max-height: 0;
      opacity: 0;
      max-width: 0;
    }
    100% {
      max-height: 144px;
      opacity: 1;
      max-width: 160px;
    }
  }

  @keyframes scaleIn {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes attention {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
      transform: scale(1.05);
    }
    50% {
      box-shadow: -10px 0 20px rgba(0, 255, 0, 0.2);
      transform: scale(1);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
      transform: scale(1.05);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.2s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.97);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }

  .animate-float-down {
    animation: floatDown 3s ease-in-out infinite;
  }

  @keyframes floatDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
  }
}
